$video-color: #FF8947;
$title-color: #000000;

@mixin flexbox($flex, $jc, $ai, $gap, $fd) {
  display: $flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $gap;
  flex-direction: $fd;
}

.video {
  margin: {
    top: 128px;
  }

  &__container {
    @include flexbox(flex, space-between, center, stretch, row);

    &_box {
      &-video {
        font-weight: 500;
        font-size: 26px;
        line-height: 39px;
        color: $video-color;
        font-family: "Poppins";
      }

      &-title {
        font-weight: 500;
        font-size: 55px;
        line-height: 64px;
        color: $title-color;
        max-width: 496px;

        margin: {
          top: 9px;
          bottom: 9px;
        }
      }

      &-description {
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
        font-family: "Poppins";
        max-width: 503px;
        height: 81px;
      }
    }
  }
}

@media only screen and (max-width: 1185px) {
  .video {
    margin: {
      top: 100px;
    }
    &__container {
      @include flexbox(flex, space-between, flex-start, stretch, column);

      &_box {
        &-img {
          margin: {
            top: 50px;
          }

          height: 300px;
        }
      }
    }
  }
}


@media only screen and (max-width: 540px) {
  .video {
    margin: {
      top: 50px;
    }
    &__container {
      @include flexbox(flex, space-between, flex-start, stretch, column);

      &_box {
        &-video{
          font-size: 22px;
        }
        &-title {
          font-size: 45px;
          line-height: 55px;
        }

        &-img {
          margin: {
            top: 50px;
          }

          height: 250px;
        }
      }
    }
  }
}

@media only screen and (max-width: 430px) {
  .video {
    &__container {
      @include flexbox(flex, space-between, flex-start, stretch, column);

      &_box {
        &-title {
          font-size: 40px;
          line-height: 50px;
        }

        &-description {
          font-size: 16px;
        }

        &-img {
          margin: {
            top: 50px;
          }

          height: 225px;
        }
      }
    }
  }
}

@media only screen and (max-width: 390px) {
  .video {
    &__container {
      @include flexbox(flex, space-between, flex-start, stretch, column);

      &_box {
        &-video{
          font-size: 20px;
        }
        &-title {
          font-size: 35px;
          line-height: 45px;
        }

        &-description {
          font-size: 16px;
        }

        &-img {
          margin: {
            top: 50px;
          }

          height: 210px;
        }
      }
    }
  }
}