$title-color: #FF8947;
$dark-color: #000000;
$box-color: #FFFFFF;
$box-bg-color: #F9F9F9;
$link-color: #FF8B37;

@mixin flexbox($flex, $jc, $ai, $gap, $fd) {
  display: $flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $gap;
  flex-direction: $fd;
}

.Feature {
  &-title {
    font-weight: 400;
    font-size: 45px;
    line-height: 68px;
    color: $title-color;
    font-family: 'Poppins';
    text-align: center;

    margin: {
      top: 177px;
    }
  }

  &-dark {
    font-weight: 600;
    font-size: 45px;
    line-height: 68px;
    color: $dark-color;
    font-family: 'Poppins';
    text-align: center;
  }

  &__container {
    @include flexbox(flex, space-between, flex-start, 20px, row);

    margin: {
      top: 83px;
      bottom: 236px;
    }

    &_box {
      background-color: $box-color;
      box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.3);
      border-radius: 15px;
      min-height: 504px;
      max-width: 420px;

      padding: {
        top: 56px;
        bottom: 53px;
        right: 40px;
        left: 40px;
      }

      text-align: center;

      &_small {
        height: 154px;
        width: 154px;
        background-color: $box-bg-color;
        @include flexbox(flex, center, center, stretch, row);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;

        margin: {
          right: auto;
          left: auto;
        }

        &-img {
          height: 95px;
          width: 95px;
        }
      }

      &-title {
        font-weight: 400;
        font-size: 45px;
        line-height: 53px;
        color: $dark-color;
        font-family: 'Roboto';

        margin: {
          top: 33px;
          bottom: 26px;
        }
      }

      &-description {
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        color: $dark-color;
        font-family: 'Roboto';
        max-width: 400px;
      }

      &-link {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: $link-color;
        @include flexbox(flex, center, center, 10.54px, row);

        margin: {
          top: 48px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .Feature {
    &__container {
      @include flexbox(flex, space-between, flex-start, 20px, row);
      flex-wrap: wrap;
    }
  }
}

@media only screen and (max-width: 959px) {
  .Feature {
    &-title{
      margin: {
        top: 120px;
      }
    }
    &__container {
      margin: {
        top: 50px;
      }

      @include flexbox(flex, center, flex-start, 20px, row);

      margin: {
        top: 50px;
        bottom: 236px;
      }
    }
  }
}


@media only screen and (max-width: 790px) {
  .Feature {
    &-title {
      font-size: 40px;
    }

    &-dark {
      font-size: 35px;
    }
  }
}


@media only screen and (max-width: 640px) {
  .Feature {
    &-title{
      margin: {
        top: 50px;
      }
    }
    &-title {
      font-size: 40px;
    }

    &-dark {
      font-size: 30px;
    }
  }
}


@media only screen and (max-width: 520px) {
  .Feature {
    &-title {
      font-size: 35px;
    }

    &-dark {
      font-size: 30px;
      line-height: 40px;
    }
  }
}


@media only screen and (max-width: 450px) {
  .Feature {
    &-title {
      font-size: 30px;
    }

    &-dark {
      font-size: 25px;
      line-height: 35px;
    }

    &__container {
      &_box {
        &-title {
          font-size: 30px;
          line-height: 40px;

          margin: {
            top: 20px;
            bottom: 10px;
          }
        }
      }
    }
  }
}