@mixin flexbox($flex, $jc, $ai, $gap, $fd) {
  display: $flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $gap;
  flex-direction: $fd;
}

$SignUp-First-color: #FD746C;
$SignUp-Second-color: #FF9068;
$title-color: #000000;
$placeholder-color: #686868;
$input-border: #FFFFFF;

.SignUp {
  &__container {
    @include flexbox(flex, space-between, flex-start, 0, row);
    background: linear-gradient(90deg, $SignUp-First-color 0%, $SignUp-Second-color 100%);
    border-radius: 15px;
    height: 374px;

    padding: {
      right: 40px;
      bottom: 25px;
    }

    &_box {
      &-img {
        height: 374px;
        max-width: 576px;
      }

      &-title {
        font-weight: 400;
        font-size: 45px;
        line-height: 68px;
        color: $title-color;
        font-family: 'Poppins';

        margin: {
          top: 41px;
          bottom: 39px;
        }
      }

      &-description {
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
        font-family: 'Poppins';
        color: $title-color;
        max-width: 619px;
      }

      &_form {
        position: relative;

        &-text {
          width: 614px;
          font-family: 'Poppins';
          color: $placeholder-color;
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;

          &::placeholder {
            color: $placeholder-color;
          }

          text-indent: 28px;

          padding: {
            top: 12px;
            bottom: 12px;
          }

          outline: none;
          background-color: rgba(255, 255, 255, 0.65);
          border: 2px solid $input-border;
          border-radius: 5px 7px 7px 5px;

          margin: {
            top: 55px;
          }
        }

        &-submit {
          position: absolute;
          right: 5px;
          top: 55px;
          font-weight: 600;
          font-size: 18px;
          line-height: 27px;
          font-family: 'Poppins';
          color: $title-color;
          background-color: $input-border;
          border-radius: 5px 7px 7px 5px;
          border: 1px solid $input-border;

          padding: {
            top: 12px;
            bottom: 12px;
            right: 24px;
            left: 24px;
          }

          cursor: pointer;
          transition: all .2s linear;
          -webkit-transition: all .3s linear;
          -moz-transition: all .3s linear;
          -ms-transition: all .3s linear;
          -o-transition: all .3s linear;

          &:hover {
            background-color: transparent;
            color: $placeholder-color;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1323px) {
  .SignUp {
    &__container {
      @include flexbox(flex, flex-start, flex-start, 0, row);
      height: 374px;
      background: linear-gradient(90deg, $SignUp-First-color 0%, $SignUp-Second-color 100%);

      &_box {
        &-img {
          display: none;
        }
      }

      padding: {
        right: 40px;
        bottom: 25px;
        left: 40px;
      }
    }
  }
}


@media only screen and (max-width: 785px) {
  .SignUp {
    &__container {
      height: 350px;

      &_box {
        &-title {
          margin: {
            top: 20px;
            bottom: 20px;
          }

          font-size: 35px;
          line-height: 45px;
        }

        &_form {
          &-text {
            width: 100%;

            margin: {
              top: 25px;
              bottom: 15px;
            }

            padding: {
              top: 12px;
              bottom: 12px;
            }

            border-radius: 5px 7px 7px 5px;
          }

          &-submit {
            position: relative;
            right: 0;
            top: 0;
            width: 100%;

            padding: {
              top: 12px;
              bottom: 12px;
              right: 0;
              left: 0;
            }
          }
        }
      }
    }
  }

}


@media only screen and (max-width: 580px) {
  .SignUp {
    &__container {
      padding: {
        right: 25px;
        left: 25px;
      }

      height: 350px;

      &_box {
        &-title {
          margin: {
            top: 20px;
            bottom: 20px;
          }

          font-size: 25px;
          line-height: 45px;
        }

        &-description {
          font-size: 15px;
        }

        &_form {
          &-text {
            width: 100%;

            margin: {
              top: 25px;
              bottom: 15px;
            }

            padding: {
              top: 12px;
              bottom: 12px;
            }

            border-radius: 5px 7px 7px 5px;
          }

          &-submit {
            position: relative;
            right: 0;
            top: 0;
            width: 100%;

            padding: {
              top: 12px;
              bottom: 12px;
              right: 0;
              left: 0;
            }
          }
        }
      }
    }
  }

}


@media only screen and (max-width: 412px) {
  .SignUp {
    &__container {
      height: 350px;

      &_box {
        &-title {
          margin: {
            top: 20px;
            bottom: 0px;
          }

          font-size: 22px;
          line-height: 40px;
        }

        &-description {
          font-size: 14px;
        }

        &_form {
          &-text {
            width: 100%;

            margin: {
              top: 25px;
              bottom: 15px;
            }

            text-indent: 16px;
            font-size: 16px;

            padding: {
              top: 12px;
              bottom: 12px;
            }

            border-radius: 5px 7px 7px 5px;
          }

          &-submit {
            position: relative;
            right: 0;
            top: 0;
            width: 100%;

            padding: {
              top: 12px;
              bottom: 12px;
              right: 0;
              left: 0;
            }

            font-size: 16px;
          }
        }
      }
    }
  }

}

@media only screen and (max-width: 375px) {
  .SignUp {
    &__container {
      height: 340px;

      &_box {
        &-title {
          margin: {
            top: 20px;
            bottom: 0px;
          }

          font-size: 20px;
          line-height: 35px;
        }

        &-description {
          font-size: 14px;
        }

        &_form {
          &-text {
            width: 100%;

            margin: {
              top: 25px;
              bottom: 15px;
            }

            padding: {
              top: 12px;
              bottom: 12px;
            }

            border-radius: 5px 7px 7px 5px;
          }

          &-submit {
            position: relative;
            right: 0;
            top: 0;
            width: 100%;

            padding: {
              top: 12px;
              bottom: 12px;
              right: 0;
              left: 0;
            }
          }
        }
      }
    }
  }

}